<div class="left-action-bar" [ngClass]="{'action-bar-extend':menuExtend}">
  <div matRipple class="action-bar-item ripple-light" (click)="menuExtend = !menuExtend">
    <div>
      <i class="material-icons"> menu </i>
      <span> Hide Menu </span>
    </div>
  </div>
  <div matRipple class="action-bar-item ripple-light"
       [ngClass]="{'current':router.isActive('/home',false)}"
       (click)="router.navigateByUrl('/home')">
    <div>
      <i class="material-icons"> home </i>
      <span> Home Page </span>
    </div>
  </div>
  <div matRipple class="action-bar-item ripple-light"
       [ngClass]="{'current':router.isActive('/media-info',false)}"
       (click)="router.navigateByUrl('/media-info')">
    <div>
      <i class="material-icons"> info </i>
      <span> Media Info </span>
    </div>
  </div>
  <div matRipple class="action-bar-item ripple-light"
       [ngClass]="{'current':router.isActive('/settings',false)}"
       (click)="router.navigateByUrl('/settings')">
    <div>
      <i class="material-icons"> settings </i>
      <span> Settings </span>
    </div>
  </div>
</div>

<div class="window-title">
  <div matRipple class="control-button warning"
       (click)="this.electronService.remote.getCurrentWindow().close()"><i class="material-icons"> close </i></div>
  <div matRipple class="control-button" (click)="toggleMaximize()">
    <i *ngIf="!electronService.remote.getCurrentWindow().isMaximized()" class="material-icons"> fullscreen </i>
    <i *ngIf="electronService.remote.getCurrentWindow().isMaximized()" class="material-icons"> fullscreen_exit </i>
  </div>
  <div matRipple class="control-button"
       (click)="this.electronService.remote.getCurrentWindow().minimize()"><i class="material-icons"> remove </i></div>
  <div class="drag-wrapper"></div>
</div>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
