<h1>Welcome back</h1>
<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons"> subscriptions </i>
      Videos
    </ng-template>
    <div class="app-list">
      <a class="app-item" mat-button style="background-color: #fd79a8">

      </a>


    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons"> audiotrack </i>
      Music
    </ng-template>
    <div class="app-list">

    </div>
  </mat-tab>
</mat-tab-group>

